# Generated outputs
generated_passes/
*.pdf

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Flutter / Dart
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
*.iml
**/android/local.properties
**/ios/Flutter/flutter_export_environment.sh

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Env
.env

# Android signing
mobile/android/key.properties
*.jks
*.keystore
mobile/android/upload-keystore.jks
